<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            Michael Gustavus
            <span class="navbar-brand-subtitle">.NET Developer</span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="experience">
                <span class="bi bi-briefcase-fill-nav-menu" aria-hidden="true"></span> Experience
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="education">
                <span class="bi bi-mortarboard-fill-nav-menu" aria-hidden="true"></span> Education
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="bi bi-bar-chart-fill-nav-menu" aria-hidden="true"></span> Skills
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="bi bi-folder-fill-nav-menu" aria-hidden="true"></span> Projects
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="bi bi-envelope-fill-nav-menu" aria-hidden="true"></span> Contact
            </NavLink>
        </div>
    </nav>
</div>
