@if (Items is { Count: > 0 })
{
    <ul class="bullet-list">
        @foreach (var item in Items)
        {
            <li>@item</li>
        }
    </ul>
}

@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<string> Items { get; set; } = [];
}
